{%load staticfiles%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'css/demo.css'%}">
    <title></title>
  </head>
  <body>
    <div class="container" align='center'>
      <div class="jumbotron">
        <h1>welcome to my news channel</h1>
        <h2>click on the links to et the news you need</h2>
        <ul>
          <li><a href="/sports">sports</a></li>
          <li><a href="/politics">politics</a></li>
          <li><a href="/movies">movies</a></li>
        </ul>

        </div>
      </div>
    </div>

    <img src="{%static 'images/lionking.jpg'%}" alt="">
    <img src="{%static 'images/hakunamatata.jpg'%}" alt="">

  </body>
</html>
